<footer>
    <div class="footer-container">
        <div class="directions">
            <!-- Links -->
            <p>
                <i class="fas fa-home mr-3"></i> Ligthouse Labs</p>
            <p>
                <i class="fas fa-envelope mr-3"></i> mediocremidterms@lighthouse.com</p>
            <p>
                <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>

        </div>
        <div class="social">
            <!-- Facebook -->
                <a class="fb-ic" href="#">
                <i class="fab fa-facebook-f white-text mr-4" href="#"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="#">
                <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="#">
                <i class="fab fa-instagram white-text"> </i>
            </a>
        </div>
    </div>
</footer>