<nav class="navbar">
  <h1 class="logo">Food App</h1>
  <div class="nav-links"></div>
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/order">Menu</a>
    <a class="nav-link" href="#">Directions</a>
    <a class="nav-link" href="#">Contact</a>
    <div class="shopping-cart">

      <span class="counter">0</span>
      <i class="fas fa-shopping-cart"></i>

    </div>
    <button class="btn btn-primary btn-lg login-btn" type="submit">Checkout</button>
</div>
</nav>