<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food App - Best food ordering app ever</title>
    <% include partials/_links %>

  </head>

  <body>
    <% include partials/_header %>
    <section id="checkout">
      <h2>Your Shopping Cart</h2>
        <div id="checkout-tbl">
          <div class="ck-row">
            <p>food</p>
          </div>
          <div class="ck-row2"></div>
        </div>
    </section>
    <% include partials/_footer %>
  </body>
</html>
