<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food App - Best food ordering app ever</title>
    <% include partials/_links %>
  </head>

  <body>
      <% if(user){ %>
        <% include partials/_header_loggedin %>
      <% } else { %>
        <% include partials/_header_default %>
      <% }; %>    
      <section id="checkout">
      <h2>Your Shopping Cart</h2>
    <!--     <div id="checkoutTbl">
          <div class="checkout-row">
          </div>
          <div class="checkout-row1"></div>
        </div> -->
            <div id="checkoutTbl">
              <div class="p-3 mb-2 bg-secondary text-white checkout-row-first">
                <div class="checkout-row"></div>
                
            </div>
    </section>


 
    <section id="checkout-frm">
        <form class="twillio-frm" method="POST">
            <div class="row">
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input class="form-control" name="phone-number" type="tel" value="1-(647)-555-5555" id="example-tel-input">
              </div>
              <button type="submit" class="btn btn-primary">Order</button>
            </div>
          </form>
    </section>
    <% include partials/_footer %>
  </body>
</html>
