<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food App - Best food ordering app ever</title>
    <% include partials/_links %>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
      <% if(user){ %>
        <% include partials/_header_loggedin %>
      <% } else { %>
        <% include partials/_header_default %>
      <% }; %>    
      <section id="checkout">
      <h2>Your Shopping Cart</h2>
    <!--     <div id="checkoutTbl">
          <div class="checkout-row">
          </div>
          <div class="checkout-row1"></div>
        </div> -->
            <div id="checkoutTbl">
              <div class="p-3 mb-2 bg-secondary text-white checkout-row-first">
                <div class="checkout-row"></div>
            </div>
            <p class="total">YOUR TOTAL :0.00</p>
    </section>



 
    <section id="checkout-frm">
        <form class="twilio-frm"> 
            <div class="row">
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Enter your name">
              </div>
              <div class="col">
                <input class="form-control" name="phone-number" type="tel" placeholder="1-(647)-555-5555" id="example-tel-input" name="cartForm" id="orderArr" type="hidden">
              </div>
              <button type="submit" data-toggle="modal" data-target="#exampleModalCenter" class="twilio-btn btn btn-primary">Send Order</button>
            </div>
          </form>
    </section>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><i class="fas fa-check-circle"></i></p>
            <h2 class="modal-title"> Thanks for ordering</h2>
            <p>Your order is being processed and you should receive a text confirmation from us shortly</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <% include partials/_footer %>
  </body>






</html>
