<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food App - Best food ordering app ever</title>
    <% include partials/_links %>

  </head>

  <body>
  <% if(user){ %>
    <% include partials/_header_loggedin %>
  <% } else { %>
    <% include partials/_header_default %>
  <% }; %>
    <section id="hero">
      <div class="jumbotron hero-content">
        <h1 class="hero-header">Best Food <br>App Ever</h1>
        <p class="lead">Order from your favourite restaurants in no time with Food App. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/order" role="button">Order Now</a>
        </p>
      </div>
    </section>
    <% include partials/_footer %>
  </body>
</html>
