<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food App - Best food ordering app ever</title>
    <% include partials/_links %>

  </head>

  <body>
  <% if(user){ %>
    <% include partials/_header_loggedin %>
  <% } else { %>
    <% include partials/_header_default %>
  <% }; %>
    <section id="hero">
      <div class="jumbotron hero-content">
        <h1 class="hero-header">Best Food <br>App Ever</h1>
        <p class="lead">Order from your favourite restaurants in no time with Food App. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/order" role="button">Order Now</a>
        </p>
      </div>
    </section>



    <section id="about">
      <div class="container">
        <div class="jumbotron about-content">
          <h2 class="about-header">Ordering Made Easy</h2>
          <p class="lead">Order from your favorite local restaurants anywhere, anytime. Discover italian cuisines at its finest. </p>
        </div>
        <div class="about-img-container"></div>
        </div>
    </section>




    <section id="steps">
        <div class="container">
          <div class="steps-img-container"></div>
          <div class="jumbotron steps-content">
            <h2 class="steps-header">How it works</h2>
            <ul>
              <li>
                  <i class="fas fa-mobile-alt"></i>
                  <p>Place and order from your phone or computer.</p>
              </li>
              <li>
                  <i class="fas fa-sms"></i>
                  <p>We'll SMS you to confirm your order and notify you once its finished.</p>
              </li>
              <li>
                  <i class="fas fa-car"></i>
                  <p>We'll notify you when your order is ready.</p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="order">
              <div class="container">
                <h1 class="display-6">Ready to order?</h1>
                <a class="btn btn-primary btn-lg" href="/order" role="button">Order Now</a>
              </div>
      </section>
    <% include partials/_footer  %>
  </body>
</html>
