<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include partials/_links %>
    <script type="text/javascript" src="/scripts/order.js"></script>
  </head>

  <body>
      <% if(user){ %>
        <% include partials/_header_loggedin %>
      <% } else { %>
        <% include partials/_header_default %>
      <% }; %>      
      <section id="order-hero">
          <div class="jumbotron hero-content">
            <h1 class="hero-header">Menu</h1>
          </div>
      </section>

  <section id="orders">
    <h2 class="order-headers"></h2>
    <div class="card-deck">
      <div class="card-row card-row1">
      
      </div>
      <div class="card-row card-row2">
      
      </div>

        </div>
    </section>   
    <% include partials/_footer %>
  </body>
</html>
