/* VARIABLES & MIXINS
    | ==================================================================================== */
    $primary-color: #212a49;
    $secondary-color: #0cd1a0;
    $white-text: #fff;
    $body-font: rgb(128, 128, 128);

body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif!important;
  color: $white-text;

  .btn {
    border: none;
    border-radius: 5rem;
    background-color: $secondary-color;
    font-size: 0.8rem;
    text-transform: uppercase;

  }

  .btn:focus {
    outline: none;
  }

  .btn:hover {
    background-color: #129c90;;

  }
}

#hero {
  width: 100%;
  height: 40rem;
  background: 
  url(../images/hero-bg.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: $white-text;

  .hero-content {
    padding: 12rem 5rem;
    background: none;
    width: 40%;
  }
  
  .hero-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    line-height: 5rem;
  }
  p {
    color: $white-text;
  }

  .btn {
    margin-top: 1rem;
    width: 10rem;
    padding: 1rem 0rem;
  }
}

#orders {
  padding: 2rem 10rem;
  margin-bottom: 8rem;
  
  .order-headers {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  
  .prices {
    font-size: 1.2rem;
    color: #212a49;
  }
  h5 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  p {
    color: $body-font;
  }
  
  .btn {
    width: 80%;
  }
  
  .card-body {
    text-align: center;
  }
}


#order-hero {
  h1{
    font-size: 3.5rem;
  }
  width: 100%;
  height: 20rem;
  background: 
  url(../images/order-header.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: $white-text;
  
  .hero-content {
    width: 20%;
    padding: 10rem 10rem;
    background: none;
  }
  
}


/* CHECKOUT TABLE
| ==================================================================================== */

#checkout {
      padding: 10rem 15rem;

      h2 {
        margin-bottom: 2rem;
      }

      
}

.img-wrap {
  width: 10%;
  height: 10%;
  border-radius: 10rem;
}

.card-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}


#checkout-tbl {
  background-color: #eee;
  height: 500px;

}

.checkout-row {
  background-color: red;
  height:100px;
}


/* REGISTRATION
| ==================================================================================== */

#register, #login {
  padding-top: 12rem;
  width: 40rem;
  margin: 0 auto;

  .btn {
    width: 12rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }

  .login-content {
    margin-bottom: 2rem;
  }

  .display-5{
    font-size: 2rem;
  }

  .register-btn {
    color: $white-text;
  }
}


/* CHECKOUT FORM
| ==================================================================================== */

#checkout-frm {
  width: 60%;
  margin: 0 auto;

  .twillio-frm {
    background-color: $primary-color;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
  }

  .btn {
    padding: 0rem 2rem;
  }
}